<div id="content" class="resume hresume">
	<div class="profile-header">
		<div class="masthead vcard contact" id="member-25079">
			<div class="image zoomable" style="display:block" id="profile-picture">
				<a href="http://m1.licdn.com/media/p/2/000/003/396/36ba4ff.jpg" id="yui-gen3">
<img src="http://m2.licdn.com/mpr/mpr/shrink_100_100/p/2/000/003/396/36ba4ff.jpg" class="photo" width="100" height="100" alt="Johan Sellström">
<span class="larger-profile-photo-control" style="left: 80px; top: 80px; "></span></a>
			</div>
			<h1>
				<span id="name" class="n fn">
					<span class="full-name">
						<span class="given-name">Johan</span>
						<span class="family-name">Sellström</span>
					</span>
				</span>
			</h1>
			<span class="phonetic-full-name"></span>
			<p class="headline-title title" style="display:block">Internet Concept Developer</p>
			<dl id="headline" class="demographic-info adr">
				<dt>Location</dt>
				<dd>
					<span class="locality">
						<a href="/search?search=&amp;sortCriteria=R&amp;keepFacets=true&amp;facet_G=se%3A8039"
						title="Find users in Stockholm County, Sweden" name="location">Stockholm County, Sweden</a>
					</span>
				</dd>
				<dt>Industry</dt>
				<dd class="industry">
					<a href="/search?search=&amp;industry=6&amp;sortCriteria=R&amp;keepFacets=true"
					title="Find users in this industry" name="">Internet</a>
				</dd>
			</dl>
		</div>
		<div class="profile-actions-tertiary-container">
		</div>
	</div>
	
	
	
	<div class="section" id="profile-summary" style="display:block">
		<div class="header">
			<h2>Summary</h2>
		</div>
		<div class="content">
			<div id="profile-specialties" style="display:block">
				<h4>Specialties</h4>
				<p class="null">Mission impossible, Concept development, Internet. Programming in all
					different environments.</p>
			</div>
		</div>
	</div>
	<div class="section subsection-reorder" id="profile-experience" style="display:block">
		<div class="header">
			<h2>Experience</h2>
		</div>
		<div class="content vcalendar">
			<div>
				<div>
					<div class="position  first experience vevent vcard summary-current" style="display:block">
						<a class="include" href="#name"></a>
						<div class="postitle">
							<h3 class="false">
								<strong class="title">
									<a href="/search?search=&amp;title=Founder&amp;sortCriteria=R&amp;keepFacets=true&amp;currentTitle=C"
									title="Find users with this title" name="title">Founder</a>
								</strong>
							</h3>
							<h4>
								<strong>
									<a href="/search?search=&amp;currentCompany=C&amp;company=Advatar+Systems+AB&amp;sortCriteria=R&amp;keepFacets=true"
									title="Find users who have worked at this company" name="company">Advatar Systems AB</a>
								</strong>
							</h4>
						</div>
						<p class="orgstats organization-details current-position"></p>
						<p class="period">
							<abbr class="dtstart" title="2006-06-01">June 2006</abbr>–
							<abbr class="dtstamp" title="2012-06-25">Present</abbr>
							<span class="duration">
								<span class="value-title" title="P6Y1M"></span>(6 years 1 month)</span>
						</p>
						<p class=" description current-position">Consultancy</p>
					</div>
				</div>
				<div>
					<div class="position   experience vevent vcard summary-past" style="display:block">
						<a class="include" href="#name"></a>
						<div class="postitle">
							<h3 class="false">
								<strong class="title">
									<a href="/search?search=&amp;title=Co-founder&amp;sortCriteria=R&amp;keepFacets=true&amp;currentTitle=C"
									title="Find users with this title" name="title">Co-founder</a>
								</strong>
							</h3>
							<h4>
								<strong>
									<span class="miniprofile-container /companies/888308?miniprofile=" data-tracking="mcp_profile_sum"
									data-li-getjs="http://s1.licdn.com/scds/concat/common/js?h=dyt8o4nwtaujeutlgncuqe0dn">
										<strong>
											<a class="company-profile" href="/company/888308?trk=pro_other_cmpy"><span class="org summary">MyCube</span></a>
										</strong>
									</span>
								</strong>
							</h4>
						</div>
						<p class="orgstats organization-details past-position">Privately Held; 11-50 employees; Internet industry</p>
						<p class="period">
							<abbr class="dtstart" title="2009-11-01">November 2009</abbr>–
							<abbr class="dtend" title="2011-07-01">July 2011</abbr>
							<span class="duration">
								<span class="value-title" title="P1Y9M"></span>(1 year 9 months)</span>
							<span class="location">Singapore</span>
						</p>
					</div>
				</div>
				<div>
					<div class="position   experience vevent vcard summary-past" style="display:block">
						<a class="include" href="#name"></a>
						<div class="postitle">
							<h3 class="false">
								<strong class="title">
									<a href="/search?search=&amp;title=Board+member&amp;sortCriteria=R&amp;keepFacets=true&amp;currentTitle=C"
									title="Find users with this title" name="title">Board member</a>
								</strong>
							</h3>
							<h4>
								<strong>
									<a href="/search?search=&amp;currentCompany=C&amp;company=3pi&amp;sortCriteria=R&amp;keepFacets=true"
									title="Find users who have worked at this company" name="company">3pi</a>
								</strong>
							</h4>
						</div>
						<p class="orgstats organization-details past-position"></p>
						<p class="period">
							<abbr class="dtstart" title="2010">2010</abbr>–
							<abbr class="dtend" title="2010">2010</abbr>
							<span class="duration">
								<span class="value-title" title="P"></span>(less than a year)</span>
						</p>
					</div>
				</div>
				<div>
					<div class="position   experience vevent vcard summary-past" style="display:block">
						<a class="include" href="#name"></a>
						<div class="postitle">
							<h3 class="false">
								<strong class="title">
									<a href="/search?search=&amp;title=Partner&amp;sortCriteria=R&amp;keepFacets=true&amp;currentTitle=C"
									title="Find users with this title" name="title">Partner</a>
								</strong>
							</h3>
							<h4>
								<strong>
									<a href="/search?search=&amp;currentCompany=C&amp;company=Kompassrosen+AB&amp;sortCriteria=R&amp;keepFacets=true"
									title="Find users who have worked at this company" name="company">Kompassrosen AB</a>
								</strong>
							</h4>
						</div>
						<p class="orgstats organization-details past-position"></p>
						<p class="period">
							<abbr class="dtstart" title="2009-06-01">June 2009</abbr>–
							<abbr class="dtend" title="2010-06-01">June 2010</abbr>
							<span class="duration">
								<span class="value-title" title="P1Y1M"></span>(1 year 1 month)</span>
						</p>
						<p class=" description past-position">Co-founder of a holding and investment company developing new projects
							in a diverse range of industries</p>
					</div>
				</div>
				<div>
					<div class="position   experience vevent vcard summary-past" style="display:block">
						<a class="include" href="#name"></a>
						<div class="postitle">
							<h3 class="false">
								<strong class="title">
									<a href="/search?search=&amp;title=Board+member&amp;sortCriteria=R&amp;keepFacets=true&amp;currentTitle=C"
									title="Find users with this title" name="title">Board member</a>
								</strong>
							</h3>
							<h4>
								<strong>
									<a href="/search?search=&amp;currentCompany=C&amp;company=Dimest+AB&amp;sortCriteria=R&amp;keepFacets=true"
									title="Find users who have worked at this company" name="company">Dimest AB</a>
								</strong>
							</h4>
						</div>
						<p class="orgstats organization-details past-position"></p>
						<p class="period">
							<abbr class="dtstart" title="2009">2009</abbr>–
							<abbr class="dtend" title="2010">2010</abbr>
							<span class="duration">
								<span class="value-title" title="P1Y"></span>(1 year)</span>
						</p>
					</div>
				</div>
				<div>
					<div class="position   experience vevent vcard summary-past" style="display:block">
						<a class="include" href="#name"></a>
						<div class="postitle">
							<h3 class="false">
								<strong class="title">
									<a href="/search?search=&amp;title=CoFounder+%26+CTO&amp;sortCriteria=R&amp;keepFacets=true&amp;currentTitle=C"
									title="Find users with this title" name="title">CoFounder &amp; CTO</a>
								</strong>
							</h3>
							<h4>
								<strong>
									<a href="/search?search=&amp;currentCompany=C&amp;company=Global+Gaming+Factory&amp;sortCriteria=R&amp;keepFacets=true"
									title="Find users who have worked at this company" name="company">Global Gaming Factory</a>
								</strong>
							</h4>
						</div>
						<p class="orgstats organization-details past-position"></p>
						<p class="period">
							<abbr class="dtstart" title="2006">2006</abbr>–
							<abbr class="dtend" title="2009">2009</abbr>
							<span class="duration">
								<span class="value-title" title="P3Y"></span>(3 years)</span>
						</p>
						<p class=" description past-position">GGF was running the two largest networks of Internet Cafe &amp;Gaming
							Center Software through its subsidiaries Smartlaunch in Denmark and Cyber
							Cafe Pro in Winnipeg, Canad.</p>
					</div>
				</div>
				<div>
					<div class="position   experience vevent vcard summary-past" style="display:block">
						<a class="include" href="#name"></a>
						<div class="postitle">
							<h3 class="false">
								<strong class="title">
									<a href="/search?search=&amp;title=Owner&amp;sortCriteria=R&amp;keepFacets=true&amp;currentTitle=C"
									title="Find users with this title" name="title">Owner</a>
								</strong>
							</h3>
							<h4>
								<strong>
									<a href="/search?search=&amp;currentCompany=C&amp;company=Agemo+International+Investments&amp;sortCriteria=R&amp;keepFacets=true"
									title="Find users who have worked at this company" name="company">Agemo International Investments</a>
								</strong>
							</h4>
						</div>
						<p class="orgstats organization-details past-position"></p>
						<p class="period">
							<abbr class="dtstart" title="1999-09-01">September 1999</abbr>–
							<abbr class="dtend" title="2006-06-01">June 2006</abbr>
							<span class="duration">
								<span class="value-title" title="P6Y10M"></span>(6 years 10 months)</span>
						</p>
						<p class=" description past-position">Real Estate Investor in the South of Spain in the Residential Property
							Developments sector.</p>
					</div>
				</div>
				<div>
					<div class="position   experience vevent vcard summary-past" style="display:block">
						<a class="include" href="#name"></a>
						<div class="postitle">
							<h3 class="false">
								<strong class="title">
									<a href="/search?search=&amp;title=Owner+%26+Angel+Investor&amp;sortCriteria=R&amp;keepFacets=true&amp;currentTitle=C"
									title="Find users with this title" name="title">Owner &amp; Angel Investor</a>
								</strong>
							</h3>
							<h4>
								<strong>
									<a href="/search?search=&amp;currentCompany=C&amp;company=Johan+Sellstr%C3%B6m+Investments&amp;sortCriteria=R&amp;keepFacets=true"
									title="Find users who have worked at this company" name="company">Johan Sellström Investments</a>
								</strong>
							</h4>
						</div>
						<p class="orgstats organization-details past-position"></p>
						<p class="period">
							<abbr class="dtstart" title="1999-04-01">April 1999</abbr>–
							<abbr class="dtend" title="2006-06-01">June 2006</abbr>
							<span class="duration">
								<span class="value-title" title="P7Y3M"></span>(7 years 3 months)</span>
						</p>
						<p class=" description past-position">Making angel investments in startups in the Internet and Gaming sectors
							as well as in Residential Property Development in Sweden.</p>
					</div>
				</div>
				<div>
					<div class="position   experience vevent vcard summary-past" style="display:block">
						<a class="include" href="#name"></a>
						<div class="postitle">
							<h3 class="false">
								<strong class="title">
									<a href="/search?search=&amp;title=CoFounder+%26+Partner&amp;sortCriteria=R&amp;keepFacets=true&amp;currentTitle=C"
									title="Find users with this title" name="title">CoFounder &amp; Partner</a>
								</strong>
							</h3>
							<h4>
								<strong>
									<a href="/search?search=&amp;currentCompany=C&amp;company=Sprout+Park+AB&amp;sortCriteria=R&amp;keepFacets=true"
									title="Find users who have worked at this company" name="company">Sprout Park AB</a>
								</strong>
							</h4>
						</div>
						<p class="orgstats organization-details past-position"></p>
						<p class="period">
							<abbr class="dtstart" title="2000-02-01">February 2000</abbr>–
							<abbr class="dtend" title="2004">2004</abbr>
							<span class="duration">
								<span class="value-title" title="P4Y"></span>(4 years)</span>
						</p>
						<p class=" description past-position">Startup Incubator.</p>
					</div>
				</div>
				<div>
					<div class="position   experience vevent vcard summary-past" style="display:block">
						<a class="include" href="#name"></a>
						<div class="postitle">
							<h3 class="false">
								<strong class="title">
									<a href="/search?search=&amp;title=CoFounder+%26+CTO&amp;sortCriteria=R&amp;keepFacets=true&amp;currentTitle=C"
									title="Find users with this title" name="title">CoFounder &amp; CTO</a>
								</strong>
							</h3>
							<h4>
								<strong>
									<a href="/search?search=&amp;currentCompany=C&amp;company=Headconcept+AB&amp;sortCriteria=R&amp;keepFacets=true"
									title="Find users who have worked at this company" name="company">Headconcept AB</a>
								</strong>
							</h4>
						</div>
						<p class="orgstats organization-details past-position"></p>
						<p class="period">
							<abbr class="dtstart" title="1999-01-01">January 1999</abbr>–
							<abbr class="dtend" title="2004-01-01">January 2004</abbr>
							<span class="duration">
								<span class="value-title" title="P5Y1M"></span>(5 years 1 month)</span>
						</p>
						<p class=" description past-position">Concept development specialists.15 employees.</p>
						<p class="recommendations">
							<a href="#recommendations"><span class="name">Johan has</span> 1 recommendation</a>(1 co-worker) including:</p>
						<ul class="reflist">
							<li class="deg_1">
								<abbr title="Tomas is your connection">
									<span class="network-degree">1
										<sup>st</sup>
									</span>
								</abbr>
								<a href="/profile/view?id=2105641&amp;authType=name&amp;authToken=C_Mn&amp;goback=%2Enpv_25079_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1"
								title="View Tomas's Profile">Tomas Sjöberg</a>
								<em>, Owner, HEAD Concept AB</em>
								<span name="_distanceToEndorser1"></span>
							</li>
						</ul>
					</div>
				</div>
				<div>
					<div class="position   experience vevent vcard summary-past" style="display:block">
						<a class="include" href="#name"></a>
						<div class="postitle">
							<h3 class="false">
								<strong class="title">
									<a href="/search?search=&amp;title=CoFounder+%26+CTO&amp;sortCriteria=R&amp;keepFacets=true&amp;currentTitle=C"
									title="Find users with this title" name="title">CoFounder &amp; CTO</a>
								</strong>
							</h3>
							<h4>
								<strong>
									<span class="miniprofile-container /companies/164276?miniprofile=" data-tracking="mcp_profile_sum"
									data-li-getjs="http://s1.licdn.com/scds/concat/common/js?h=dyt8o4nwtaujeutlgncuqe0dn">
										<strong>
											<a class="company-profile" href="/company/164276?trk=pro_other_cmpy"><span class="org summary">Icon Medialab</span></a>
										</strong>
									</span>
								</strong>
							</h4>
						</div>
						<p class="orgstats organization-details past-position">Public Company; 51-200 employees; Internet industry</p>
						<p class="period">
							<abbr class="dtstart" title="1996-04-01">April 1996</abbr>–
							<abbr class="dtend" title="1999-10-01">October 1999</abbr>
							<span class="duration">
								<span class="value-title" title="P3Y7M"></span>(3 years 7 months)</span>
						</p>
						<p class=" description past-position">Co-founded the company as the web era started for real.</p>
					</div>
				</div>
				<div>
					<div class="position   experience vevent vcard summary-past" style="display:block">
						<a class="include" href="#name"></a>
						<div class="postitle">
							<h3 class="false">
								<strong class="title">
									<a href="/search?search=&amp;title=Educator&amp;sortCriteria=R&amp;keepFacets=true&amp;currentTitle=C"
									title="Find users with this title" name="title">Educator</a>
								</strong>
							</h3>
							<h4>
								<strong>
									<a href="/search?search=&amp;currentCompany=C&amp;company=Informator&amp;sortCriteria=R&amp;keepFacets=true"
									title="Find users who have worked at this company" name="company">Informator</a>
								</strong>
							</h4>
						</div>
						<p class="orgstats organization-details past-position"></p>
						<p class="period">
							<abbr class="dtstart" title="1993">1993</abbr>–
							<abbr class="dtend" title="1996">1996</abbr>
							<span class="duration">
								<span class="value-title" title="P3Y"></span>(3 years)</span>
						</p>
						<p class=" description past-position">Freelance teacher of C-programming</p>
					</div>
				</div>
				<div>
					<div class="position   experience vevent vcard summary-past" style="display:block">
						<a class="include" href="#name"></a>
						<div class="postitle">
							<h3 class="false">
								<strong class="title">
									<a href="/search?search=&amp;title=Founder&amp;sortCriteria=R&amp;keepFacets=true&amp;currentTitle=C"
									title="Find users with this title" name="title">Founder</a>
								</strong>
							</h3>
							<h4>
								<strong>
									<a href="/search?search=&amp;currentCompany=C&amp;company=Johan+Sellstr%C3%B6m+Konsult+AB&amp;sortCriteria=R&amp;keepFacets=true"
									title="Find users who have worked at this company" name="company">Johan Sellström Konsult AB</a>
								</strong>
							</h4>
						</div>
						<p class="orgstats organization-details past-position"></p>
						<p class="period">
							<abbr class="dtstart" title="1990-09-01">September 1990</abbr>–
							<abbr class="dtend" title="1996-04-01">April 1996</abbr>
							<span class="duration">
								<span class="value-title" title="P5Y8M"></span>(5 years 8 months)</span>
						</p>
						<p class=" description past-position">Independant Consultant doing consulting and developing what was to become
							the national CFD visualization system, FloView, for SAAB Military AIrcraft
							and The Aeronautical Research Institute of Sweden. Other clients included
							Deutsche Aerospace and the European Unions board for Advanced Information
							Technology.</p>
					</div>
				</div>
				<div>
					<div class="position   experience vevent vcard summary-past" style="display:block">
						<a class="include" href="#name"></a>
						<div class="postitle">
							<h3 class="false">
								<strong class="title">
									<a href="/search?search=&amp;title=Educator&amp;sortCriteria=R&amp;keepFacets=true&amp;currentTitle=C"
									title="Find users with this title" name="title">Educator</a>
								</strong>
							</h3>
							<h4>
								<strong>
									<span class="miniprofile-container /companies/163628?miniprofile=" data-tracking="mcp_profile_sum"
									data-li-getjs="http://s1.licdn.com/scds/concat/common/js?h=dyt8o4nwtaujeutlgncuqe0dn">
										<strong>
											<a class="company-profile" href="/company/163628?trk=pro_other_cmpy"><span class="org summary">Enea</span></a>
										</strong>
									</span>
								</strong>
							</h4>
						</div>
						<p class="orgstats organization-details past-position">Public Company; 501-1000 employees; Computer Software industry</p>
						<p class="period">
							<abbr class="dtstart" title="1993-01-01">January 1993</abbr>–
							<abbr class="dtend" title="1996-01-01">January 1996</abbr>
							<span class="duration">
								<span class="value-title" title="P3Y1M"></span>(3 years 1 month)</span>
						</p>
						<p class=" description past-position">Teaching Motif GUI programming on Unix</p>
					</div>
				</div>
				<div>
					<div class="position   experience vevent vcard summary-past" style="display:block">
						<a class="include" href="#name"></a>
						<div class="postitle">
							<h3 class="false">
								<strong class="title">
									<a href="/search?search=&amp;title=Systems+Engineer+%26+Consultant&amp;sortCriteria=R&amp;keepFacets=true&amp;currentTitle=C"
									title="Find users with this title" name="title">Systems Engineer &amp; Consultant</a>
								</strong>
							</h3>
							<h4>
								<strong>
									<a href="/search?search=&amp;currentCompany=C&amp;company=Control+Data+Corporation&amp;sortCriteria=R&amp;keepFacets=true"
									title="Find users who have worked at this company" name="company">Control Data Corporation</a>
								</strong>
							</h4>
						</div>
						<p class="orgstats organization-details past-position"></p>
						<p class="period">
							<abbr class="dtstart" title="1988-01-01">January 1988</abbr>–
							<abbr class="dtend" title="1990-09-01">September 1990</abbr>
							<span class="duration">
								<span class="value-title" title="P2Y9M"></span>(2 years 9 months)</span>
						</p>
						<p class=" description past-position">My first and only employment. Responsible for connecting the first graphical
							supercomputer from Silicon Graphics to the worlds then fastest computational
							supercomputer ETA -10G. Also a lot of consulting in visualization of Computational
							Fluid Dynamics.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section" id="profile-skills" style="display:block">
		<div class="header">
			<h2>Skills &amp; Expertise</h2>
		</div>
		<div class="content">
			<ol class="skills" id="skills-list">
				<li class="competency show-bean  ">
					<span class="miniprofile-container http://www.linkedin.com/skills/api/v1/miniskill/Concept+Development?proficiency=">
						<a href="http://www.linkedin.com/skills/skill/Concept_Development?trk=skills-ext-prof"
						class="jellybean">
Concept Development
</a>
					</span>
				</li>
				<li class="competency show-bean  ">
					<span class="miniprofile-container http://www.linkedin.com/skills/api/v1/miniskill/Start-ups?proficiency=">
						<a href="http://www.linkedin.com/skills/skill/Start-ups?trk=skills-ext-prof"
						class="jellybean">
Start-ups
</a>
					</span>
				</li>
				<li class="competency show-bean  ">
					<span class="miniprofile-container http://www.linkedin.com/skills/api/v1/miniskill/Consultancy?proficiency=">
						<a href="http://www.linkedin.com/skills/skill/Consultancy?trk=skills-ext-prof"
						class="jellybean">
Consultancy
</a>
					</span>
				</li>
				<li class="competency show-bean  ">
					<span class="miniprofile-container http://www.linkedin.com/skills/api/v1/miniskill/Mobile?proficiency=">
						<a href="http://www.linkedin.com/skills/skill/Mobile?trk=skills-ext-prof"
						class="jellybean">
Mobile
</a>
					</span>
				</li>
				<li class="competency show-bean  ">
					<span class="miniprofile-container http://www.linkedin.com/skills/api/v1/miniskill/Social+Media?proficiency=">
						<a href="http://www.linkedin.com/skills/skill/Social_Media?trk=skills-ext-prof"
						class="jellybean">
Social Media
</a>
					</span>
				</li>
				<li class="competency show-bean  ">
					<span class="miniprofile-container http://www.linkedin.com/skills/api/v1/miniskill/User+Experience?proficiency=">
						<a href="http://www.linkedin.com/skills/skill/User_Experience?trk=skills-ext-prof"
						class="jellybean">
User Experience
</a>
					</span>
				</li>
				<li class="competency show-bean  ">
					<span class="miniprofile-container http://www.linkedin.com/skills/api/v1/miniskill/PHP?proficiency=">
						<a href="http://www.linkedin.com/skills/skill/PHP?trk=skills-ext-prof"
						class="jellybean">
PHP
</a>
					</span>
				</li>
				<li class="competency show-bean  ">
					<span class="miniprofile-container http://www.linkedin.com/skills/api/v1/miniskill/MySQL?proficiency="
					id="yui-gen5">
						<a href="http://www.linkedin.com/skills/skill/MySQL?trk=skills-ext-prof"
						class="jellybean">
MySQL
</a>
					</span>
				</li>
				<li class="competency show-bean  ">
					<span class="miniprofile-container http://www.linkedin.com/skills/api/v1/miniskill/Social+Networking?proficiency=">
						<a href="http://www.linkedin.com/skills/skill/Social_Networking?trk=skills-ext-prof"
						class="jellybean">
Social Networking
</a>
					</span>
				</li>
				<li class="competency show-bean  ">
					<span class="miniprofile-container http://www.linkedin.com/skills/api/v1/miniskill/Software+Development?proficiency=">
						<a href="http://www.linkedin.com/skills/skill/Software_Development?trk=skills-ext-prof"
						class="jellybean">
Software Development
</a>
					</span>
				</li>
				<li class="competency show-bean  ">
					<span class="miniprofile-container http://www.linkedin.com/skills/api/v1/miniskill/Web+Design?proficiency=">
						<a href="http://www.linkedin.com/skills/skill/Web_Design?trk=skills-ext-prof"
						class="jellybean">
Web Design
</a>
					</span>
				</li>
				<li class="competency show-bean  ">
					<span class="miniprofile-container http://www.linkedin.com/skills/api/v1/miniskill/Mobile+Applications?proficiency=">
						<a href="http://www.linkedin.com/skills/skill/Mobile_Applications?trk=skills-ext-prof"
						class="jellybean">
Mobile Applications
</a>
					</span>
				</li>
				<li class="competency show-bean  ">
					<span class="miniprofile-container http://www.linkedin.com/skills/api/v1/miniskill/Business+Strategy?proficiency=">
						<a href="http://www.linkedin.com/skills/skill/Business_Strategy?trk=skills-ext-prof"
						class="jellybean">
Business Strategy
</a>
					</span>
				</li>
				<li class="competency show-bean  ">
					<span class="miniprofile-container http://www.linkedin.com/skills/api/v1/miniskill/Web+Applications?proficiency=">
						<a href="http://www.linkedin.com/skills/skill/Web_Applications?trk=skills-ext-prof"
						class="jellybean">
Web Applications
</a>
					</span>
				</li>
				<li class="competency show-bean  ">
					<span class="miniprofile-container http://www.linkedin.com/skills/api/v1/miniskill/Linux?proficiency=">
						<a href="http://www.linkedin.com/skills/skill/Linux?trk=skills-ext-prof"
						class="jellybean">
Linux
</a>
					</span>
				</li>
				<li class="competency show-bean  ">
					<span class="miniprofile-container http://www.linkedin.com/skills/api/v1/miniskill/Python?proficiency=">
						<a href="http://www.linkedin.com/skills/skill/Python?trk=skills-ext-prof"
						class="jellybean">
Python
</a>
					</span>
				</li>
				<li class="competency show-bean  ">
					<span class="miniprofile-container http://www.linkedin.com/skills/api/v1/miniskill/Agile?proficiency=">
						<a href="http://www.linkedin.com/skills/skill/Agile?trk=skills-ext-prof"
						class="jellybean">
Agile
</a>
					</span>
				</li>
				<li class="competency show-bean  ">
					<span class="miniprofile-container http://www.linkedin.com/skills/api/v1/miniskill/IT+Strategy?proficiency=">
						<a href="http://www.linkedin.com/skills/skill/IT_Strategy?trk=skills-ext-prof"
						class="jellybean">
IT Strategy
</a>
					</span>
				</li>
				<li class="competency show-bean  ">
					<span class="miniprofile-container http://www.linkedin.com/skills/api/v1/miniskill/JavaScript?proficiency=">
						<a href="http://www.linkedin.com/skills/skill/JavaScript?trk=skills-ext-prof"
						class="jellybean">
JavaScript
</a>
					</span>
				</li>
				<li class="competency show-bean  ">
					<span class="miniprofile-container http://www.linkedin.com/skills/api/v1/miniskill/Web+Development?proficiency=">
						<a href="http://www.linkedin.com/skills/skill/Web_Development?trk=skills-ext-prof"
						class="jellybean">
Web Development
</a>
					</span>
				</li>
			</ol>
		</div>
	</div>
	<div class="section subsection-reorder summary-education" id="profile-education"
	style="display:block">
		<div class="header">
			<h2>Education</h2>
		</div>
		<div class="content vcalendar">
			<div>
				<div class="position  first education vevent vcard" id="9943518">
					<h3 class="summary fn org">
						<a href="/college/?eduSchool=17098&amp;trk=prof-edu-school-name" title="Find members that attended Kungliga tekniska högskolan"
						name="''" class="school-link">Kungliga tekniska högskolan</a>
					</h3>
					<h4 class="details-education">
						<span class="degree">MsC</span>,
						<span class="major">
							<a href="/search?search=&amp;keywords=Engineering+Physics&amp;sortCriteria=R&amp;keepFacets=true"
							title="Find users with this keyword" name="">Engineering Physics</a>
						</span>
					</h4>
					<p class="period">
						<abbr class="dtstart" title="1983-01-01">1983</abbr>–
						<abbr class="dtend" title="1987-12-31">1987</abbr>
					</p>
					<p class=" desc details-education"></p>
				</div>
			</div>
		</div>
	</div>
	<div class="section" id="profile-recommendations">
		<div class="header">
			<h2 id="recommendations">Recommendations For Johan</h2>
		</div>
		<div class="content">
			<div class="reference-position first">
				<div class="postitle">
					<h3 class="false">
						<span class="title">CoFounder &amp; CTO</span>
					</h3>
					<h4>
						<strong>
							<span class="org summary">Headconcept AB</span>
						</strong>
					</h4>
				</div>
				<div>
					<div class="reference">
						<p>“Johan is a true evangelist! What he talks about right now will more or
							less in focus in a couple of years from now. He has a unique business,
							technology and end user focus. And as a former partner of Johan I have
							a lot of examples where his visionary business concepts from the early
							years of Internet are being realized today. Johan is the ultimate start
							up booster for almost any project.”
							<span class="date">December 8, 2009</span>
						</p>
						<p class="distance deg_1">
							<abbr title="Tomas is your connection">
								<span class="network-degree">1
									<sup>st</sup>
								</span>
							</abbr>
							<a href="/profile/view?id=2105641&amp;authType=name&amp;authToken=C_Mn&amp;goback=%2Enpv_25079_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1"
							title="View Tomas's Profile">Tomas Sjöberg</a>,
							<em>Owner, HEAD Concept AB</em>
							<br>worked directly with Johan at Headconcept AB</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section" id="profile-additional" style="display:block">
		<div class="header">
			<h2>Additional Information</h2>
		</div>
		<div class="content">
			<dl>
				<dt class="websites" style="display:block">Websites:</dt>
				<dd class="websites" style="display:block">
					<ul>
						<li class="website">
							<a href="/redir/redirect?url=http%3A%2F%2Fgiventell%2Eorg&amp;urlhash=6gfM"
							target="_blank" title="New window will open">
Give 'n' tell
</a>
						</li>
						<li class="website">
							<a href="/redir/redirect?url=http%3A%2F%2Fwww%2Eiconmedialab%2Ecom&amp;urlhash=6j0E"
							target="_blank" title="New window will open">
Icon Medialab
</a>
						</li>
					</ul>
				</dd>
				<dt class="interests" style="display:block">Interests:</dt>
				<dd class="interests" id="interests" style="display:block">
					<p class="">
						<a href="/search?search=&amp;keywords=startups&amp;sortCriteria=R&amp;keepFacets=true"
						title="Find users with this keyword" name="">startups</a>,
						<a href="/search?search=&amp;keywords=concept+development&amp;sortCriteria=R&amp;keepFacets=true"
						title="Find users with this keyword" name="">concept development</a>,
						<a href="/search?search=&amp;keywords=internet&amp;sortCriteria=R&amp;keepFacets=true"
						title="Find users with this keyword" name="">internet</a>,
						<a href="/search?search=&amp;keywords=yachting&amp;sortCriteria=R&amp;keepFacets=true"
						title="Find users with this keyword" name="">yachting</a>,
						<a href="/search?search=&amp;keywords=hard+work&amp;sortCriteria=R&amp;keepFacets=true"
						title="Find users with this keyword" name="">hard work</a>
					</p>
				</dd>
				<dt class="pubgroups" style="display:block">Groups and Associations:</dt>
				<dd class="pubgroups" id="pubgroups" style="display:block">
					<p class="null">
						<a href="/search?search=&amp;keywords=TED&amp;sortCriteria=R&amp;keepFacets=true"
						title="Find users with this keyword" name="">TED</a>
					</p>
					<ul class="groups">
						<li class="affiliation vcard">
							<a class="group-logo" href="/groups?gid=1941133" tracking="fulpro_grplogo"> <img src="http://m2.licdn.com/media/p/2/000/026/15d/2b59bbf.png" width="60" height="30" alt="OrSiSo Group logo">
</a>
							<div class="group-data">
								<a href="/groups?gid=1941133" tracking="fulpro_grplogo"><strong class="fn org">OrSiSo Group</strong></a>
							</div>
						</li>
						<li class="affiliation vcard">
							<a class="group-logo" href="/groups/Silicon-Vikings-48688" tracking="fulpro_grplogo"> <img src="http://m1.licdn.com/media/p/1/000/128/12d/136c5a3.png" width="60" height="30" alt="Silicon Vikings logo">
</a>
							<div class="group-data">
								<a href="/groups/Silicon-Vikings-48688" tracking="fulpro_grplogo"><strong class="fn org">Silicon Vikings</strong></a>
							</div>
						</li>
						<li class="affiliation vcard">
							<a class="group-logo" href="/groups/TEDx-SINGAPORE-1875601" tracking="fulpro_grplogo"> <img src="http://m2.licdn.com/media/p/3/000/021/3ff/01aa47e.png" width="60" height="30" alt="TEDx SINGAPORE logo">
</a>
							<div class="group-data">
								<a href="/groups/TEDx-SINGAPORE-1875601" tracking="fulpro_grplogo"><strong class="fn org">TEDx SINGAPORE</strong></a>
							</div>
						</li>
					</ul>
				</dd>
			</dl>
		</div>
	</div>
</div>